# --- GENERAL ---
DEBUG=False
SECRET_KEY=generater-a-key-with-django-utils
ALLOWED_HOSTS=localhost,127.0.0.1,ton-domaine.com

# --- DATABASE ---
# Format: mssql://USER:PASSWORD@HOST:PORT/NAME
# mssql://localhost\INSTANCE/DB_NAME?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
DATABASE_URL=
DB_DRIVER=ODBC Driver 17 for SQL Server

# --- ENTRA ID (Azure AD) ---
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# --- ENVIRONNEMENT ---
ENV_NAME=prod  # dev, uat, ou prod

# Azure Object IDs for every group access
AZURE_GROUP_ADMIN=xxx-xxx-xxx  # System administrator
AZURE_GROUP_CUSTODIAN=xxx-xxx  # Data custodian (Ops)
AZURE_GROUP_STEWARD=xxx-xxx    # Data steward (Expert)
AZURE_GROUP_QA=xxx-xxx         # QA representative
AZURE_GROUP_INVESTIGATOR=xxx-xxx # Data investigator