# --- GENERAL ---
DEBUG=False
SECRET_KEY=generater-a-key-with-django-utils
ALLOWED_HOSTS=localhost,127.0.0.1,ton-domaine.com

# --- DATABASE ---
DB_ENGINE=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=


DB_DRIVER=ODBC Driver 17 for SQL Server

# --- ENTRA ID (Azure AD) ---
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# --- ENVIRONNEMENT ---
ENV_NAME=prod  # dev, uat, ou prod

# Azure Object IDs for every group access
AZURE_GROUP_ADMIN=xxx-xxx-xxx  # System administrator
AZURE_GROUP_CUSTODIAN=xxx-xxx  # Data custodian (Ops)
AZURE_GROUP_STEWARD=xxx-xxx    # Data steward (Expert)
AZURE_GROUP_QA=xxx-xxx         # QA representative
AZURE_GROUP_INVESTIGATOR=xxx-xxx # Data investigator