# --- GENERAL ---
DEBUG=False
SECRET_KEY=générer-une-cle-via-django-utils
ALLOWED_HOSTS=localhost,127.0.0.1,ton-domaine.com

# --- DATABASE ---
# Format: mssql://USER:PASSWORD@HOST:PORT/NAME
# Pour le local avec Trusted_Connection :
# mssql://localhost\INSTANCE/DB_NAME?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes
DATABASE_URL=
DB_DRIVER=ODBC Driver 17 for SQL Server

# --- ENTRA ID (Azure AD) ---
# Ces valeurs seront remplies après la création de l'App Registration sur Azure
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# --- ENVIRONNEMENT ---
ENV_NAME=prod  # dev, uat, ou prod