{% extends "base.html" %}

{% block content %}
<div class="alert alert-danger shadow p-4">
    <h4>Confirm Deactivation</h4>
    <p>Are you sure you want to archive <strong>{{ object }}</strong>?</p>
    <p><small>(Note: The data will be archived, not permanently deleted).</small></p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Deactivation</button>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}